* {
  margin: 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

ul li {
  list-style: none;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}

.products img {
    width: 150px;
    height: 150px;
}

.products div {
  width: 300px;
  height: 300px;
}

span.buttons {
  display: flex;
}